{% extends 'base.html' %}
{% block content %}
<div id="container" style="width:100%; height:400px;"></div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <th>Gender</th>
        <th>Position</th>
        <th>Count</th>
    </thead>
    <tbody>
        {% for key, value in values %}
        {% for job in value %}
        <tr>
            {% if loop.first %}
            <td rowspan="{{ value|length }}"><div class="text-right">{{ key }}</div></td>
            {% endif %} 
            <td><div class="text-right">{{ job }}</div></td>
            <td><div class="text-right">{{ value[job]|comma_format }}</div></td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
    <tfoot>
    </tfoot>
</table>
{% endblock %}
{% block extracss %}
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
$(function () { 
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Median Income in Davidson County'
        },
        xAxis: {
            categories: [
            {% for key,value in values %}
            '{{ key }}',
            {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: 'Count'
            },
        },
        series: [
            {
                name: 'MALE',
                      data: [
                            {% for key, value in values %}
                            {{ value['MALE'] }},
                            {% endfor %}
                      ]
            },
            {
                name: 'FEMALE',
                      data: [
                            {% for key, value in values %}
                            {{ value['FEMALE'] }},
                            {% endfor %}
                      ]
            },
        ]
    });
});
</script>
{% endblock %}
