{% extends 'base.html' %}
{% block content %}

<!--=============== HEADER ===============-->
    
    <div class="container">
    <header>
      <div class="row">
        <div class="span7">
          <h1>Welcome</h1>
            <p>
              The mission of the Metro Human Relations Commission is to protect and promote the personal dignity, peace, safety, security, health, and general welfare of all people in Nashville and Davidson County.  The Commission’s work is organized around a theme of “One City, All People.” This motto guides all MHRC education, training, advocacy, and compliance services. It places you, your family, and your community at the center of our work for equality, equity, and inclusion, irrespective of race, color, sex, gender identity, age, religion, sexual orientation, ability, national origin, or other protected status.
            </p>
        </div>
        <div class="span1">
        </div>
        <div class="span4">
          <a href="http://www.nashville.gov/Human-Relations-Commission.aspx" target="_blank">
            <img src="img/MHRCLogFinal.jpg" alt="Nashville Human Relations Commission" />
          </a>
        </div>
      </div><!-- /.row --> 
    </header>
    </div><!-- /.container --> 

<!--=============== Diversity, Inclusivity ===============-->
      
    <div class="container"> 
      <div id="twowords">       
      <div class="row">
        <div class="span5" id="diversity">
          <h2>Diversity</h2>
            <br />
              <p>
                The mission of the Metro Human Relations Commission is to protect and promote the personal dignity, peace, safety, security, health, and general welfare of all people in Nashville and Davidson County.  The Commission’s work is organized around a theme of “One City, All People.” This motto guides all MHRC education, training, advocacy, and compliance services. It places you, your family, and your community at the center of our work for equality, equity, and inclusion, irrespective of race, color, sex, gender identity, age, religion, sexual orientation, ability, national origin, or other protected status.
              </p>
        </div>
        <div class="span2">
          <h2>&#124</h2>
        </div>          
        <div class="span5" id="inclusion">
          <h2>Inclusion</h2>
            <br />
              <p>
                The mission of the Metro Human Relations Commission is to protect and promote the personal dignity, peace, safety, security, health, and general welfare of all people in Nashville and Davidson County.  The Commission’s work is organized around a theme of “One City, All People.” This motto guides all MHRC education, training, advocacy, and compliance services. It places you, your family, and your community at the center of our work for equality, equity, and inclusion, irrespective of race, color, sex, gender identity, age, religion, sexual orientation, ability, national origin, or other protected status.
              </p>
        </div>
      </div><!-- /.row --> 
    </div><!-- /#twowords --> 
    </div><!-- /.container -->

{% endblock %}